filename.py
Thumbs.db
__pycache__/
*.pyc
*.class
*.exe
*.out
.vscode/
.idea/
.nvim/
.DS_Store
auto_generated.py
testcase.py
input.txt
output.txt
testcase.txt
testcase.json
run.sh
venv/
directory.txt
instructions.md
create_contest_folder.py
Solution$FastReader.class
Solution.class
